@font-face {
	font-family: 'Quicksand';
	src: url("Quicksand-VariableFont_wght.ttf");
	font-style: normal;
}

@font-face {
	font-family: 'Masthina';
	src: url("Masthina.ttf");
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Quicksand';
}

/*----Nav Bar-----*/
nav {
	background-color: rgb(255, 255, 255);
	height: 80px;
	width: 100%;
	position: fixed;
	border-bottom: solid 1px rgb(238, 237, 237);
}
nav ul {
	float: right;
	margin-right: 20px;
}
nav ul li {
	display: inline-block;
	line-height: 80px;
	margin : 0 5px;
}
nav ul li a {
	color: black;
	text-transform: uppercase;
}
a:hover {
	color: #a9b0cb;
	transition: .5s;
}
.checkbtn {
	font-size: 30px;
	color: black;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}

@media (max-width: 952px) {
	nav ul li a {
		font-size: 12px;
	}
}

@media (max-width: 858px) {
	.checkbtn {
		display: block;
	}
	ul {
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
		background-color: #a9b0cb;
	}
	nav ul li {
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 20px;
		color: white;
	}
	a:hover {
		background: none;
		color: black;
	}
	#check:checked ~ ul {
		left: 0;
	}
}
/*-----Welcome Header---*/
.first {
	background-image: url("computerbackground.jpg");
	background-color: #a9b1cb;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding: 20%;
	height: 100vh;
}

.small-container {
	display: flex;
	align-items: center;
	padding: 10% 5%;
}

.image {
	display: inline-block;
	width: 50%;
}

#img1 {
	height: auto; 
    width: 100%; 
    max-width: 300px; 
    max-height: 300px;
    min-width: 200px;
}

.typewriter {
	font-size: 1em;
}

#header-text h1 {
	font-family: 'Masthina';
	font-size: 15vh;
	color: #a9b0cb;
	text-shadow: 1.5px 1.5px #929292

}

#header-text h3 {
	display: inline-block;
	width: 100%;
	font-family: 'Quicksand';
	padding-top: 3%;
	font-weight: 100px;
}

@media screen and (max-width: 992px) {
	.first {
		background-image: none;
		background-color: rgb(180, 188, 199);
		padding-top: 300px;
		padding-bottom: 300px;
	}
	#header-text h1 {
		color: white;
		font-size: 50px;
	}
	#header-text h3 {
		font-weight: lighter;
	}

  }
/*-----About Me---*/

.inner-container2 {
	padding: 5% 5%;
}

.text-container h1 {
	font-family: 'Masthina';
	font-size: 7vh;
}

.text-container {
	font-family: 'Quicksand';
	display: inline-block;
	width: 100%;
	padding-top: 0%;
}

#img2 {
	height: auto; 
    max-width: 300px; 
    max-height: 300px;
    min-width: 200px;
}

/*-----My Projects---*/
.title {
	font-family: 'Masthina';
	font-size: 3vh;
	text-align: center;
	margin-bottom: 10px;
}

.col {
	flex: 1;
	width: 30%;
	display: inline-block;
	text-align: center;
	padding-top: 20px;
	padding: 1em;
	border: solid 1.5px white;
	border-radius: 1em;
	margin: 10px;
}
.third {
	background-color: rgb(180, 188, 199);
}

.row {
	display: flex;
	text-align: center;
}

#inner-container3 {
	padding-top: 10%;
	padding-bottom: 5%;
	display: block;
}

.simg-container {
	width: 50%;
	height: 150px;
	display: inline-block;
	overflow: hidden;
}

.ptext-container h2 {
	padding-top: 1em;
	font-family: 'Quicksand';
	text-transform: uppercase;
	font-weight: 700;
	color: rgb(158, 121, 158);
}

.ptext-container p {
	font-family: 'Quicksand';
}

.button {
	text-decoration: none;
	font-family: 'Quicksand';
	border: solid 1px white;
	border-radius: 3em;
	padding: 0.5em 3em;
	line-height: 4.75em;
	color: rgb(158, 121, 158);
	font-weight: 400;
}

img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

/* Experiences */
#e1, #e2, #e3 {
	flex: 1;
	width: 30%;
	display: inline-block;
	text-align: center;
	padding-top: 20px;
	padding: 1em;
	border: solid 1.5px rgb(180, 188, 199);
	border-radius: 1em;
	margin: 10px;
}

#button2 {
	border: solid 1pPx rgb(180, 188, 199);
}

/* Hobbies */

#Hobbies {
	background-color: rgb(180, 188, 199);
}

.title p {
	padding-top: 25px;
}

/* Responsive Projects, Experiences and Hobbies */
@media screen and (max-width: 992px) {	
	.small-container {
		display: block;
		text-align: center;
	}
	.row {
		display: block;
	}
	.col {
		width: 100%;
		margin: 10px 0px;
	}
	#e1, #e2, #e3 {
		width: 100%;
	}
	#img2 {
		max-width: 100%;
	}

  }

/* Social Media Icons / Footer */
/* Style all font awesome icons */
#email, #linkedin, #github {
	color: black;
}

footer {
	text-align: center;
	font-family: 'Quicksand';
	background-color: white;
	color:#a9b0cb;
}

.fa {
	margin-top: 15px;
	margin-bottom: 13px;
	font-size: 35px !important;
	width: 50px;
	text-align: center;
	text-decoration: none;
	color: #a9b0cb;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
	opacity: 0.7;
  }
  
  /* Set a specific color for each brand */



